<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @booking.instructor.name %>,</h1>
    <p>
      A new booking has been made at <%= @booking.start_time %> by <%= @booking.user.email %><br>
    </p>
    <p>
      Please follow this link to confirm booking: <%= @url %>.
    </p>
  </body>
</html>
