// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.booking {
  border: 1px solid #333;
  padding: 10px 5px;
  background: #eee;
  margin-bottom: 8px;
  ul {
    padding: 0 0 0 20px;
    margin: 0 0 8px 0;
  }
}
